target/
project/target/
project/project/
project/build.properties
project/plugins/
compile.log
test_run_dir/
generated/**/obj_dir/
generated/**/tb_SimpleDPU.sv
generated/**/tb_SimpleDPU_*.vcd
generated/**/*.d
generated/**/*_K*_bs*_vec*_seed*.json
test/vectors/

